.navBar {
    display: flex;
    justify-content: flex-end;

    margin-top: 1rem;
}

.navBar ul {
    display: flex;
    justify-content: space-between;

    width: auto;
}

.navBar ul li {
    border: 1px solid #fb1;

    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: .3s;

    border-radius: .3rem;
}

.navBar ul li + li {
    margin-left: .5rem;
}

.navBar ul li:hover {
    box-shadow: 0 0 0 3px var(--color-second);
    border-color: var(--color-primary);
}